extends ../../layouts/_adminLayout
block content
    h1 #{translation.TITLE_ADMIN_PAGE_LINK}


    form.col.s12(method='POST' action='/admin/page/page_link')

        .input-field.col.s12
            select#idFr(name='idFr')
                option(value='', disabled='', selected='') Choose your option
                each val in pages
                    if val.Lang === 'fr'
                        option(value=''+val.PageId) #{val.Title}

            label #{translation.FR}

        br

        .input-field.col.s12
            select#idDe(name='idDe')
                option(value='', disabled='', selected='') Choose your option
                each val in pages
                    if val.Lang === 'de'
                        option(value=''+val.PageId) #{val.Title}

            label #{translation.DE}

        p
            button.btn.waves-effect.waves-light(type='submit' name='action')
                | #{translation.LINK}
                i.material-icons.right send


    script.
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            var options = [];
            var instances = M.FormSelect.init(elems, options);
        });