extends ../layouts/_layout

block content

    h1.display-4.m-b-2 #{translation.TITLE_ADMIN_SEARCH_PERSON}

    form.col.s12(method='POST' action='/search/search_person')

        .input-field.col.s6
            input.lastname.validate(type='text' name="lastname" id="lastname")
            label(for='lastname') #{translation.LASTNAME}

        .input-field.col.s6
            input.firstname.validate(type='text' name="firstname" id="firstname")
            label(for='firstname') #{translation.FIRSTNAME}

        .input-field.col.s6
            input.phone.validate(type='text' name="phone" id="phone")
            label(for='phone') #{translation.PHONEPRIVATE}

        .input-field.col.s6
            input.phoneP.validate(type='text' name="phoneP" id="phoneP")
            label(for='phoneP') #{translation.PHONEPROF}

        .input-field.col.s6
            input.email.validate(type='text' name="email" id="email")
            label(for='email') #{translation.EMAIL}

        .input-field.col.s6
            input.startAbo.validate(type='text' name="startAbo" id="startAbo")
            label(for='startAbo') #{translation.STARTABO}

        .input-field.col.s6
            input.location.validate(type='text' name="location", id="location")
            label(for='location') #{translation.LOCATION}

        p
            label
                input(type='checkbox', name="newsletter", id="newsletter")
                span #{translation.NEWSLETTER}

        p
            button.btn.waves-effect.waves-light(type='submit' name='action')
                | #{translation.SEARCH}
                i.material-icons.right search