extends ../layouts/_adminLayout

block content

    h1 #{translation.TITLE_ADMIN_CHOIR}


    form.col.s12
        .row
            .input-field.col.s6
                label(for='choeur_name') #{translation.CHOIR_NAME}
                input#choeur_name.form-control(type='text' name='choeur_name' required)
            .input-field.col.s6
                label(for='effectif') #{translation.EFFECTIVE}
                input#effectif.form-control(type='text' name='effectif' required)

        .row
            .input-field.col.s2
                label(for='NPA') #{translation.POSTE_CODE}
                input#NPA.form-control(type='text' name='npa' required)
            .input-field.col.s4
                label(for='lieu') #{translation.LOCATION}
                input#lieu.form-control(type='text' name='lieu' required)

            .input-field.col.s4
                label(for='foundation') #{translation.DATE_FOUNDATION}
                input#foundation.form-control(type='text' name='foundation' required)


        .row
            .input-field.col.s8
                label(for='homepage') #{translation.HOMEPAGES}
                input#homepage.form-control(type='text' name='homepage' required)

            p.col.s2
                label
                    input(name='fr', type='checkbox')
                    span #{translation.FRENCH}
            p.col.s2
                label
                    input(name='de', type='checkbox')
                    span #{translation.GERMAN}

        .row
            select.browser-default.col.s4
                option(value='', disabled='', selected='', name='presidentName') #{translation.NAME_PRESIDENT}
                option(value='1') Option 1

            p.col.s2 #{translation.MAIL_ADDRESSING}

            p.col.s2
                label
                    input(name='president', type='radio')
                    span #{translation.PRESIDENT}
            p.col.s2
                label
                    input(name='director', type='radio')
                    span #{translation.DIRECTOR}
            p.col.s2
                label
                    input(name='empty',type='radio')
                    span #{translation.EMPTY}
                    // à garder le champ vide??

        .row
            select.browser-default.col.s4
                option(value='', disabled='', selected='', name='directorName') #{translation.NAME_DIRECTOR}
                option(value='1') Option 1

            select.browser-default.col.s2
                option(value='', disabled='', selected='', name='typeChoeur') #{translation.TYPE_CHOIR}
                option(value='1') Option 1

            p.col.s2
                label
                    input(name='church_leader', type='checkbox')
                    span #{translation.CHURCH_LEADER}
            p.col.s3
                label
                    input(name='gospel_leader', type='checkbox')
                    span #{translation.GOSPEL_LEADER}

        .row
            select.browser-default.col.s4
                option(value='', disabled='', selected='',name='cashier') #{translation.NAME_CASHIER}
                option(value='1') Option 1
            p.col.s2 #{translation.CANTONAL_FEDERATION}
            p.col.s2
                label
                    input(type='radio', name='fscv')
                    span #{translation.MEMBER_FSCV}
            p.col.s3
                label
                    input(type='radio', name='noFSCV')
                    span #{translation.NOT_FSCV}

        .row
            select.browser-default.col.s4
                option(value='', disabled='', selected='') #{translation.NAME_SECRETARIAT}
                option(value='1') Option 1
            .input-field.col.s6
                label(for='dateFSCV') #{translation.DATE_FSCV}
                input#dateFSCV.form-control(type='text' name='dateFSCV' )


        .row
            p.col.s3 #{translation.SWISS_CHOIR_UNION}:
            p.col.s2
                label
                    input(type='radio', name='USC')
                    span #{translation.MEMBER_USC}
            p.col.s3
                label
                    input(type='radio', name='noUSC')
                    span #{translation.NOT_USC}
            .input-field.col.s4
                label(for='dateUSC') #{translation.DATE_USC}
                input#dateUSC.form-control(type='text' name='dateUSC')


        .row
            select.browser-default.col.s4
                option(value='', disabled='', selected='') #{translation.GRPMTS_REGION}
                option(value='1') Option 1
            .input-field.col.s4
                input#dateGrpmts.datepicker(type='date', placeholder='')
                label(for='dateGrpmts') #{translation.DATE_GRPMTS}
        .row
            select.browser-default.col.s4
                option(value='', disabled='', selected='') #{translation.DECANAT}
                option(value='1') Option 1
            .input-field.col.s4
                label(for='otherGrpmts') #{translation.OTHER_GRPMTS}
                input#otherGrpmts.form-control(type='text' name='otherGrpmts')


        .row
            .input-field.col.s12
                label(for='comments') #{translation.COMMENTS}
                input#comments.form-control(type='text' name='comments')

