extends choir

block add_choir

    form.col.s12(id='myForm' method='POST' action='/admin/choir/add')


        .row
            .input-field.col.s6
                label(for='choeur_name') #{translation.CHOIR_NAME}
                input#choeur_name.form-control(type='text' name='choeur_name' required)
            .input-field.col.s6
                label(for='effectif') #{translation.EFFECTIVE}
                input#effectif.form-control(type='number' name='effectif' required)

        .row
            .input-field.col.s2
                label(for='npa') #{translation.POSTE_CODE}
                input#NPA.form-control(type='number' name='npa' required)
            .input-field.col.s4
                label(for='lieu') #{translation.LOCATION}
                input#lieu.form-control(type='text' name='lieu' required)

            .input-field.col.s4
                label(for='dateOfFundation') #{translation.DATE_FOUNDATION}
                input#dateOfFundation.form-control(type='date' name='dateOfFundation',placeholder='date' required)


        .row
            .input-field.col.s8
                label(for='homepage') #{translation.HOMEPAGES}
                input#homepage.form-control(type='text' name='homepage')

            select(name='language').browser-default.col.s4
                option(value='', selected='') #{translation.LANGUAGE}
                option(value='1') #{translation.FR}
                option(value='2') #{translation.DE}

        .row
            p.col.s3 #{translation.SWISS_CHOIR_UNION}:
            select(name='Usc').browser-default.col.s4
                option(value='', disabled='', selected='') #{translation.MEMBER}
                option(value='1') #{translation.MEMBER_USC}
                option(value='2') #{translation.NOT_USC}
            .input-field.col.s4
                input#dateUSC.form-control(type='date', placeholder='', name='dateUSC')
                label(for='dateUSC') #{translation.DATE_USC}

        .row
            p.col.s3 #{translation.CANTONAL_FEDERATION}:
            select(name='fscv').browser-default.col.s4
                option(value='', disabled='', selected='') #{translation.MEMBER}
                option(value='1') #{translation.FSCV}
                option(value='2') #{translation.NOT_FSCV}
            .input-field.col.s4
                label(for='dateFSCV') #{translation.DATE_FSCV}
                input#dateFSCV.form-control(type='date' name='dateFSCV', placeholder='')

        .row

            select(name='mailing').browser-default.col.s4
                option(value='0', selected='') #{translation.MAIL_ADDRESSING}
                option(value='1') #{translation.PRESIDENT}
                option(value='2') #{translation.DIRECTOR}

        .row
            select(name='grpmts').browser-default.col.s4
                option(value='', disabled='', selected='') #{translation.GRPMTS_REGION}
                option(value='1') #{translation.GROUP_GSCBV}
                option(value='2') #{translation.GROUP_UCC}
                option(value='3') #{translation.GROUP_GCVC}
                option(value='4') #{translation.GROUP_OCV}

            .input-field.col.s3
                input#dateGrpmts.datepicker(type='date', placeholder='', name='dateGrpmts')
                label(for='dateGrpmts') #{translation.DATE_GRPMTS}
        .row
            select(name='decanat').browser-default.col.s4
                option(value='', disabled='', selected='') #{translation.DECANAT}
                option(value='1') #{translation.WELTICH}
                option(value='2') #{translation.LEUK}
                option(value='3') #{translation.RARON}
                option(value='4') #{translation.BRIG}
                option(value='5') #{translation.VISP}
                option(value='6') #{translation.ERNEN}
            select(name='typeChoeur').browser-default.col.s4
                option(value='', disabled='', selected='') #{translation.TYPE_CHOIR}
                option(value='1') #{translation.ADULT}
                option(value='2') #{translation.TEEN}
                option(value='3') #{translation.KID}
                option(value='4') #{translation.MIXT}
                option(value='5') #{translation.WOMEN}
                option(value='6') #{translation.MEN}

            p.col.s2
                label
                    input(name='church_leader', type='checkbox')
                    span #{translation.CHURCH_LEADER}
            p.col.s2
                label
                    input(name='gospel_leader', type='checkbox')
                    span #{translation.GOSPEL_LEADER}

        .row
            .input-field.col.s4 #{translation.NAME_PRESIDENT}
            select(name='presidentName').browser-default.col.s4
                option(value='',disabled='', selected='') #{translation.PRESIDENT} #{translation.ALREADY_EXISTING}
                each person in PersonPresident
                    option(value= person.Id)= person.Firstname + " " + person.Lastname

            a.btn.btn-primary.col.s3(href="/admin/person/person_add") #{translation.CREATION_PERSON}
        .row
            .input-field.col.s4
                p #{translation.NAME_DIRECTOR}
            select(name='directorName').browser-default.col.s4
                option(value='', disabled='', selected='') #{translation.DIRECTOR} #{translation.ALREADY_EXISTING}
                each person in PersonDirector
                    option(value= person.Id)= person.Firstname + " " + person.Lastname

        .row
            .input-field.col.s4
                p #{translation.NAME_CASHIER}
            select(name='cashier').browser-default.col.s4
                option(value='', disabled='', selected='') #{translation.CASHIER} #{translation.ALREADY_EXISTING}
                each person in PersonCaissier
                    option(value= person.Id)= person.Firstname + " " + person.Lastname


        .row
            .input-field.col.s4
                p #{translation.NAME_SECRETARIAT}
            select(name='secretary').browser-default.col.s4
                option(value='', disabled='', selected='') #{translation.SECRETARY} #{translation.ALREADY_EXISTING}
                each person in PersonSecretaire
                    option(value= person.Id)= person.Firstname + " " + person.Lastname


        .row
            .input-field.col.s12
                label.active(for='comments') #{translation.COMMENTS}
                textarea#comments.materialize-textarea(name='comment')

        .row
            button.btn.btn-primary.col.s3(type='submit') #{translation.ADD}
            button.btn.btn-primary.col.s3(type='submit',onclick="myFunction()") #{translation.CLEAR}




        script.
            function myFunction() {
                document.getElementById("myForm").reset();
            }

