extends person

block person_add_block

    p add personn

    h1.display-4.m-b-2 #{translation.PERSON}

        form(method='POST' action='/admin/person')
            div.form-group

                div(class='row')
                    div(class='column')
                        label(for='lastnameP') #{translation.LASTNAME}:
                        input#lastnameP.form-control(type='text', placeholder='Lastname' name='lastnameP' required)

                    div(class='column')
                        label(for='firstnameP') #{translation.FIRSTNAME}:
                        input#firstnameP.form-control(type='text', placeholder='Firstname' name='firstnameP' required)

                    div(class='column')
                        label(for='phonePrivateP') #{translation.PHONEPRIVATE}:
                        input#phonePrivateP.form-control(type='text', placeholder='Phone private' name='phonePrivateP' required)

                    div(class='column')
                        label(for='phoneProfP') #{translation.PHONEPROF}
                        input#phoneProfP.form-control(type='text', placeholder='Phone prof' name='phoneProf' required)

                    div(class='column')
                        label(for='emailP') #{translation.EMAIL}:
                        input#emailP.form-control(type='text', placeholder='Email' name='emailP' required)

                    div(class='column')
                        label(for='startAboP') #{translation.STARTABO}:
                        input#startAboP.form-control(type='date', placeholder='Abo' name='startaboP')

                    div(class='column')
                        label #{translation.ROLE}:
                        p
                        label
                            input(name='directorP', type='checkbox')
                            span #{translation.DIRECTOR}
                        p
                        label
                            input(name='director2P', type='checkbox')
                            span #{translation.DIRECTOR} 2
                        p
                        label
                            input(name='presidentP', type='checkbox')
                            span #{translation.PRESIDENT}
                        p
                        label
                            input(name='secretaryP', type='checkbox')
                            span #{translation.SECRETARY}
                        p
                        label
                            input(name='cashierP', type='checkbox')
                            span #{translation.CASHIER}
                        p
                            label
                                input(name='comiteP', type='checkbox')
                                span #{translation.COMITE}
                        p
                            label
                                input(name='autreP', type='checkbox')
                                span #{translation.AUTRE}


                button.btn.btn-primary(type='submit') #{translation.ADD}

