extends person

block person_edit_block

    h2 #{translation.EDIT_PERSON}

    br


    form(method='POST' action='/admin/person/person_edit_search')

        div.form-group

            div(class='row')
                div(class='column')
                    label(for='lastnameP') #{translation.LASTNAME}:
                    input#lastnameP.form-control(type='text', name='lastnameP', required)

                div(class='column')
                    label(for='firstnameP') #{translation.FIRSTNAME}:
                    input#firstnameP.form-control(type='text', placeholder='Firstname', name='firstnameP', required)


                div(class='column')
                    label(for='emailP') #{translation.EMAIL}:
                    input#emailP.form-control(type='text', placeholder='Email', name='emailP', required)


        button.btn.btn-primary(type='submit' name='action') #{translation.SEARCH_PERSON}

