doctype html
html(lang='fr')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

        title= title
        block css
            link(href='/public/assets/css/materialize.min.css', rel='stylesheet')
            link(href='/public/assets/css/chanter.css', rel='stylesheet')

    body

        nav
            div(class='nav-wrapper teal lighten-2')
                ul(id='nav-mobile', class='left')
                    li
                        a(href='#')
                            i(class='material-icons') menu
                    li
                        a(href='/admin/index') #{translation.DASHBOARD}
                    li
                        a(href='/admin/menu') #{translation.MENU}
                    li
                        a(href='/admin/page') #{translation.PAGE}
                    li
                        a(href='/admin/choir') #{translation.CHOIR}
                    li
                        a(href='/admin/person') #{translation.PERSON}
                    li
                        a(href='/admin/news') #{translation.NEWS}
                    li
                        a(href='/admin/service') #{translation.SERVICE}
                    li
                        a(href='/admin/user') #{translation.USER}
                    li
                        a(href='/admin/export') #{translation.EXPORT}
                    li
                        a(href='/admin/logout_do')
                            i(class='material-icons') #{translation.LOGOUT}
                    li
                        a(href='?clang=fr') fr
                    li
                        a(href='?clang=de') de

                a(href='/', class='right brand-logo', style='margin-right:15px') Chanter.ch
        div(class='container')
            block content


        block js
            script(src='/public/assets/js/materialize.min.js')