doctype html
html(lang='fr')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

        title= title
        block css
            link(href='/public/assets/css/materialize.min.css', rel='stylesheet')
            link(href='/public/assets/css/chanter.css', rel='stylesheet')

    body

        nav
            div(class='nav-wrapper teal lighten-2')
                ul(id='nav-mobile', class='left')
                    li
                        a(href='#')
                            i(class='material-icons') menu
                    li
                        a(href='/') #{translation.HOMEPAGE}
                    li
                        a(href='#') #{translation.FSCV}
                    li
                        a(href='contact') #{translation.CONTACT}
                    li
                        a(href='#') #{translation.ABOUT}
                    li
                        a(href='/admin/dashboard') #{translation.LOGIN}
                    li
                        a(href='?clang=fr') fr

                    li
                        a(href='?clang=de') de



                a(href='/', class='right brand-logo', style='margin-right:15px') Chanter.ch

        div(class='container')
            block content


        block js
            script(src='/public/assets/js/materialize.min.js')